.mainContainer {
  height: calc(100vh - 62px);
  display: flex;
  background-color: #FFFFFF;
  background-image: url("../../public/30.jpg");
}

.contentContainer {
  border: 10px solid #EFECEC;
  border-radius: 5px;  
  width: 100%;
  margin: 40px 60px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.tableContainer {
  width: calc(100%-60px);
  margin-top: 40px;
  margin-left: 8%;
  margin-right: 8%;
}

.btnEditsButton {
  display: flex;
  justify-content: center;
  align-items: center;
	border-radius: 20px;
	border: 1px solid #20A4F3;
	background-color: #20A4F3;
	color: #FFFFFF;
	font-size: 13px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
  padding: 8px;
  text-decoration: none;
}
.btnEditsButton:active {
	transform: scale(0.95);
}
.btnEditsButton:focus {
	outline: none;
}
.btnEditsButton.ghost {
	background-color: transparent;
	border-color: #FFFFFF;
}
.btnEditsButton:hover {
	color: #FFFFFF;
}

.buttonsContainer {
  width: calc(100%-60px);
  margin: 40px;
  display: flex;
  justify-content: flex-end;
}

.buttons {
  margin-left: 20px;
}