.mainContainer {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) {
  .mainContainer {
    flex-direction: row;
  }
}

.logoContainer {
  background-color: #262833;
  height: 64px;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 0;
  display: flex;
  justify-content: center;
}

@media (min-width: 768px) {
  .logoContainer {
    height: auto;
    flex-grow: 4;
  }
}

.contentContainer {
  background-color: white;
  flex-grow: 6;
  display: flex;
  align-items: center;
  flex-basis: 0;
}

.contentContainer > div {
  background-color: #67e9ee;
  width: min(600px, 80%);
/*   height: 600px;
 */  border: 2px solid #262833;
  border-radius: 5px;
  padding: 20px 20px 15px;
}

@media (min-width: 768px) {
  .contentContainer > div {
    margin: 60px auto;
  }
}

.largeLogo {
  align-self: center;
  display: none;
}

.smallLogo {
  align-self: center;
}

@media (min-width: 768px) {
  .smallLogo {
    display: none;
  }
  .largeLogo {
    display: block;
  }
}

h2 {
  text-align: center;
}

.boton {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.link {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.unregistred {
  text-align: center;
  margin-top: 60px;
}

.p {
  margin: 0;
}

.formField {
  margin-top: 12px;
}

/* NUEVAS CLASES - LOG IN / SIGN UP - VERSIÓN V2 */
/* ---------------------------- */
/* CONTENEDORES */

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

.containerBox {
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.containerBoxForgotPass {
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.headerLogIn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 10%;
}

.midContainer {
  display: flex;
  border-radius: 10px;
  box-shadow: 0 14px 28px rgb(0 0 0 / 25%), 0 10px 10px rgb(0 0 0 / 22%);
  overflow: hidden;
  width: 50%;
  height: 70%;
}

.midContainerFP {
  display: flex;
  border-radius: 10px;
  box-shadow: 0 14px 28px rgb(0 0 0 / 25%), 0 10px 10px rgb(0 0 0 / 22%);
  overflow: hidden;
  justify-content: center;
  height: 70%;
  width: 25%;
}

.midContainerSignIn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #FFFFFF;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  width: 50%;
  padding: 15px;
}

.midContainerForgotPass {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #FFFFFF;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  width: 65%;
  padding: 15px;
}

.btnLinkForgotPass {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.midPageLogIn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80%;
}
.formPageLogIn {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.formPageForgotPass {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.midContainerSignUp {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #20A4F3;
	border-radius: 10px;
  	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
			0 10px 10px rgba(0,0,0,0.22);
	overflow: hidden;
	width: 50%;
}

.midContainerRegister {
  display: flex;
  flex-wrap: wrap;
  border-radius: 10px;
  box-shadow: 0 14px 28px rgb(0 0 0 / 25%), 0 10px 10px rgb(0 0 0 / 22%);
  overflow: hidden;
  width: 60%;
}

.footerSocialMedia {
  display: flex;
  width: 100%;
  height: 10%;
  justify-content: space-evenly;
  align-items: end;
}

/* INPUTS */

.inputsSingIn {
	border: none;
	padding: 12px 15px;
	margin: 8px 0;
	width: 100%;
}

.inputsRegister {
	border: none;
	width: 100%;
}

.btnSignIn {
  display: flex;
  justify-content: center;
	border-radius: 20px;
	border: 1px solid #20A4F3;
	background-color: #20A4F3;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
}
.btnSignIn:active {
	transform: scale(0.95);
}
.btnSignIn:focus {
	outline: none;
}
.btnSignIn.ghost {
	background-color: transparent;
	border-color: #FFFFFF;
}

.btnSignUp {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
	border-radius: 20px;
	border: 1px solid #20A4F3;
	background-color: #20A4F3;
	color: #000000;
	font-size: 20px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
}
.btnSignUp:focus {
	outline: none;
}
.btnSignUp.ghost {
	background-color: transparent;
	border-color: #FFFFFF;
}

.btnForgotPas {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
	border-radius: 20px;
	border: 1px solid #20A4F3;
	background-color: #20A4F3;
	color: #000000;
	font-size: 10px;
	font-weight: bold;
	padding: 10px 15px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
}
.btnForgotPas:focus {
	outline: none;
}
.btnForgotPas.ghost {
	background-color: transparent;
	border-color: #FFFFFF;
}

.btnSocialMedia {
  font-size: 35px;
}

.linkPageRegister{
  margin: 0;
  color: white;
}
.linkPageRegister:hover{
  margin: 0;
  color: white;
}
.linkPageRegister:active {
	transform: scale(0.95);
}

.linkPageFP{
  display: flex;
  justify-content: center;
	border-radius: 20px;
	border: 1px solid #20A4F3;
	background-color: #20A4F3;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
  color: black;
}
.linkPageFP:hover{
  margin: 0;
  color: black;
}
.linkPageFP:active {
	transform: scale(0.95);
}

/* LABELS */

.labelsTitulos {
  text-align: center;
  color: black;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}

.labelOlvidoContraseña {
  display: flex;
  justify-content: center;
  margin-top: 10px;
	color: #333333;
	font-size: 15px;
	text-decoration: none;
	margin: 15px 0;
}

.labelsErrorValidacionAlert {
  display: flex;
  margin-top: 10px;
}

.labelsErrorValidacion {
	border: none;
	width: 100%;
  color: #FF0000;
  margin-left: 5px;
}

.labelsTituloInput {
  display: flex;
  width: 32%;
}

.labelsTituloInputRepeContra {
  display: flex;
  width: 44%;
}