/* CONTENEDORES */

.mainContainer {
  height: calc(100vh - 62px);
  display: flex;
}

.contentContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.userDetails > ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  font-size: 1.1em;
  line-height: 2.2em;
  margin: 0;
}

.buttonsContainer {
  width: calc(100%-60px) !important;
  display: flex !important;
  justify-content: center !important;
  padding: 10px;
}

.buttons {
  margin-left: 20px;
}

.titleContainer {
  display: flex;
  justify-content: space-between;
}

.formProfilePage {
  display: flex;
  flex-direction: column;
}

.listProfilePage {
  display: flex;
}

.containerProfileTitle {
  display: flex;
  flex-direction: column;
  background: #FFFFFF;
  width: 30%;
  box-shadow: 10px;
  padding: 10px;
  margin-right: 10px;
  box-shadow: 0px 0px 1px 1px;
  border-radius: 10px 10px 10px 10px;
}

.containerProfileInfo {
  display: flex;
  flex-direction: column;
  margin-left: -7px;
  background: #FFFFFF;
  width: 30%;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0px 0px 1px 1px;
  border-radius: 10px 10px 10px 10px;
}

/* INPUTS */

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

.btnEditsButton {
  display: flex;
  justify-content: center;
  margin-right: 8px;
	border-radius: 20px;
	border: 1px solid #20A4F3;
	background-color: #20A4F3;
	color: #FFFFFF;
	font-size: 12px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
}
.btnEditsButton:active {
	transform: scale(0.95);
}
.btnEditsButton:focus {
	outline: none;
}
.btnEditsButton.ghost {
	background-color: transparent;
	border-color: #FFFFFF;
}

.btnDeleteProfile {
  display: flex;
  justify-content: center;
	border-radius: 20px;
	border: 1px solid #FF0000;
	background-color: #FF0000;
	color: #FFFFFF;
	font-size: 12px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
}
.btnDeleteProfile:hover {
  background-color: #FF0000;
}
.btnDeleteProfile:active {
	transform: scale(0.95);
}
.btnDeleteProfile:focus {
	outline: none;
}
.btnDeleteProfile.ghost {
	background-color: transparent;
	border-color: #FF0000;
}