.mainContainer {
  height: calc(100vh - 62px);
  display: flex;
  background-color: #FFFFFF;
}

.contentContainer {
  background-color: white;
  width: 100%;
  margin: 40px 60px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 10px solid #EFECEC;
  border-radius: 5px;
}

.nameContainer {
  width: calc(100%-60px);
  margin: 15px 45px 0;
}

.dataContainer {
  width: calc(100%-60px);
  margin: 0 40px;
  display: flex;
  flex-basis: 100%;
}

.leftDataContainer {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
}

.rightDataContainer {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
}

.generalContainer {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  border: 1px solid lightgray;
  margin: 5px;
  padding: 20px;
}

.btnEditsButton {
  display: flex;
  justify-content: center;
  align-items: center;
	border-radius: 20px;
	border: 1px solid #20A4F3;
	background-color: #20A4F3;
	color: #FFFFFF;
	font-size: 13px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
}
.btnEditsButton:active {
	transform: scale(0.95);
}
.btnEditsButton:focus {
	outline: none;
}
.btnEditsButton.ghost {
	background-color: transparent;
	border-color: #FFFFFF;
}

.buttonsContainer {
  width: calc(100%-60px);
  margin: 20px 40px;
  display: flex;
  justify-content: space-between;
}

.generalContainer > ul {
  list-style-type: none;
  margin: 0 10px;
  padding: 0;
  line-height: 2.4rem;
}

.generalContainerTitle {
  display: flex;
  justify-content: space-between;
}

li {
  display: flex;
}