.mainContainer {
  height: calc(100vh - 62px);
  display: flex;

}

.sideContainer {
  background-color: #3c3f50;
  width: 350px;
  color: white;
  padding: 40px 40px;
}

.contentContainer {
  background-color: white;
  background-image: url("../../public/fondo.jpg");
  width: calc(100vw - 350px);
  display: flex;
  justify-content: center;
}

#dropBranches {
  margin: 15px auto;
  width: 50%;
}

.tableContainer {
  width: 90%;
  margin-top: 40px;
  text-align: center;
}

.calendarContainer {
  padding: 20px;
  width: 50%;
  margin: 40px auto;
  background-color: #67e9ee;
  text-align: center;
  border: 2px solid #262833;
  border-radius: 5px;
}

.userDetails > ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.sideButton {
  margin-top: 20px;
  margin-right: 10px;
}

.fewStock {
  text-align: center;
  margin: 8px auto;
  color: #ffc107;
  font-size: medium;
  background-color: #6c757d;
  max-width: 324.466px;
  border: 1px solid grey;
  border-radius: 5px;

}

.agendados {
  margin-top: 20px;
  color: aquamarine;
}

.asistentes {
  border: 2px solid white;
  border-radius: 5px;
  margin-top: 8px;
  padding: 7px;
}

.buttonContainer {
  display: flex;
  justify-content: center;
}